<!DOCTYPE html>
<html>
    <head>
        <title>Login page</title>
    </head>
    <body>
        <p>Login</p>
        <form action="/" method="post">
            <input name="Username" type="text" placeholder="Username" required>
            <input name="Password" type="password" placeholder="Password" required>
            <input name="button" type="submit" value="Login">
        </form>
        <br>
        <p>Register</p>
        <form action="/" method="post">
            <input name="button" type="submit" value="Register New Account">
        </form>
    </body>
</html>