<!DOCTYPE html>
<html>
    <head>
        <title>Registration page</title>
    </head>
    <body>
        <p>Register</p>
        <form action="/registration" method="post">
            <input name="Username" type="text" placeholder="Username" required>
            <input name="Password" type="password" placeholder="Password" required>
            <input name="Display Name" placeholder="Display Name" required>
            <input name="Email" placeholder="Email" required>
            <input name="button" type="submit" value="Register New Account">
        </form>
    </body>
</html>